$color-background: rgb(255, 255, 255);
$color-font-white: rgb(255, 255, 255);
$menu-basic: rgb(191,195,198);
$menu-basic-lighter: rgb(213, 215, 217);
$color-light-gray: rgba(198, 198, 198, 0.66);
$color-blue: rgb(45, 156, 219);
$color-blue-lighter: rgb(82, 182, 238);
$color-btn-active: rgb(242, 201, 76);
$color-btn-active-lt: rgb(255, 213, 84);
$color-blogpost-btn: rgb(191,195,198);
$color-blogpost-btn-lt: rgb(211, 214, 217);
$color-black-opacity:rgba(0, 0, 0, 0.8);
