@import 'settings';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $color-bg;
}

header {
  width: 70%;
  padding: 20px 0;
  margin: 0 auto;

  ul {
    list-style: none;
    border-bottom: 1px solid $menu-basic;
    padding-bottom: 10px;

    li {
      display: inline-block;

      a {
        font-size: 1.1rem;
        font-weight: 400;
        text-decoration: none;
        color: $menu-basic;
        transition: color 0.5s;
        position: relative;
        padding: 0 25px 10px;

        &:hover {
          color: black;
        }
      }
    }
  }

  .main-nav--active {
    color: black;
    padding-bottom: 10px;
    border-bottom: 2px solid $color-blue;
  }
}

.page-content {
  width: 70%;
  margin: 0 auto;
  display: flex;

  h2 {
    font-weight: 400;
  }

  .btn {
    transition: background 0.2s;
  }
}

.latest {
  display: flex;
  flex-wrap: wrap;
}

.latest-container {
  display: flex;
  flex-wrap: wrap;

  .item {}

  .latest-container-stars {
    margin: 0 0 0 12px;

    a {
      display: inline-block;
      transform: translateY(-6px);
    }

    img {
      width: 26px;
      margin: 0;
    }
  }
}

.blogpost {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  h2 {
    align-self: flex-start;
  }

  div {
    margin: 25px 0 0;
  }

  .item {
    background-size: 456%;
    box-shadow: inset -6px -119px 114px -57px rgba(0, 0, 0, 0.8);
  }

  .first {
    background-image: url("../img/photo1.jpg");
    background-position: 16% 80%;
  }

  .second {
    background-image: url("../img/photo1.jpg");
    background-position: 93% 80%;
  }

  .blogpost-items {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    h3 {
      margin: 180px 0 10px 12px;
      font-weight: 400;
      color: white;
    }

    .blogpost-btn {
      text-decoration: none;
      color: black;
      padding: 5px 8px;
      background: $color-blogpost-btn;
      border-radius: 2px;
      text-align: center;
      margin: 0 0 0 12px;

      &:hover {
        background: $color-blogpost-btn-lt;
      }
    }
  }
}

.item {
  width: 253px;
  height: 253px;
  border: $menu-basic 1px solid;
  border-bottom: 2px solid $color-light-gray;
  border-radius: 5px;
  margin: 25px 25px 0 0;
  transition: box-shadow 0.3s;

  img {
    width: 170px;
    margin: 30px 40px 0;
  }

  h3 {
    margin: 15px 0 0 12px;
  }

  .item-buttons {
    margin: 15px 0 0 12px;

    a {
      width: 110px;
      padding: 5px;
      text-decoration: none;
      display: inline-block;
      border-radius: 3px;
      color: white;
      text-align: center;
    }

    .btn-free {
      background: $color-blue;

      &:hover {
        background: $color-blue-lighter;
      }
    }

    .btn-free-active {
      background: $color-btn-active;

      &:hover {
        background: $color-btn-active-lt;
      }
    }

    .btn-screenshots {
      background: $menu-basic;
      margin-left: 5px;

      &:hover {
        background: $menu-basic-lighter;
      }
    }
  }
}
@media all and (max-width: 1158px) {
  .page-content {
    flex-direction: column;
    width: 80%;
  }

  header {
    width: 80%;
  }

  .blogpost {
    margin: 25px 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .blogpost-items {
      flex-direction: row;
      align-self: flex-start;
    }

    div {
      margin: 25px 25px 0 0;
    }
  }
}
